body {
    background-color: #F2F2F2 !important;
    font-size: 12px;
    margin: 0px;
    font-family: Open Sans !important;
    position: relative;
}

.text_centered {
	text-align: center;
}

.profile_photo {
	width: 200px !important;
	height: 200px !important;
	border-radius: 200px !important;
	display: block;
    margin: auto;
    background-image: url("./images/puerto_rico.jpg");
}

.push {
	padding: 20px;
}

.white_section {
	background-color: white;
}

.example_document_section {
	margin: 30px auto;
}

.document_card {
	background-color: #049DBF;
	padding: 20px;
	margin: 10px auto;
	color: white;
	border-radius: 5px;
	border: 5px solid #049DBF;
	display: block;
	transition: all 1s;
}

.document_card:hover {
	text-decoration: none;
	border: 5px solid #333;
	color: white;
}

.document_card h3 {
	margin-top: 0px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.document_card .fa-file-text-o {
	display: block;
	text-align: center;
	transition: all 1s;
}

.document_card .fa-file-text-o:hover {
	color: #333;
}

.spanish_eng_toggle {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 4px 10px;
	cursor: pointer;
	z-index: 10000;
}

.spanish_eng_toggle:hover {
	font-size: 1.2em;
}

.header_container {
	display: block;
	margin: auto;
	width: 50%;
	background-color: rgba(3, 115, 140, 0.8);
	padding: 10px;
	margin-top: 100px;
	border-radius: 5px;
}

.delayed_animation {
	animation-duration: 3s !important;
 	animation-delay: 0.5s !important;
}

/* ============================================================
  PARALLAX
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module .subtitle {
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
section.module p {
  margin-bottom: 40px;
  font-size: 14px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 30px 0;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax_main {
  background-image: url("./images/puerto_rico.jpg");
}
section.module.parallax_secondary {
  background-image: url("./images/puerto_rico.jpg");
}

@media all and (min-width: 600px) {
  section.module .subtitle {
    font-size: 22px;
  }
  section.module p {
    font-size: 16px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
	section.module h2 {
    font-size: 24px;
  }
  section.module.parallax h1 {
    font-size: 50px;
  }
}